<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ModernDB Final Project</title>
    <style>
        #title {
    border: 2px #eee solid;
    color: white;
    padding: 10px;
    display:flex;
    background-color: black;
}
form{
    margin-top: 5%;
    text-align: center;
}
body{
    background-color: gray;
}
input{
    padding : 10px 24px;
}
button{
    padding:10px 15px;
}
h3{
    color: white;
    text-align: center;
    margin-top: 10%;
    font-size: 2.0em;
}
#headerTitle{
    margin-left: 28%;
}

    </style>
</head>
<body>

   <div id="title">
    <h1 id="headerTitle">Book Search and Recommendation System</h1>
     </div>


<form class="example" action="http://localhost:5000/search" method="GET">
    <input type="text" placeholder="Search..." name="query">
    <button type="submit">Search Books<i class="fa fa-search"></i></button>
  </form>

<div>
    {% if invalid %}
        <h3>{{invalid}}</h3>
    {%endif%}

</div>
</body>
</html>
