<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ModernDB Final Project</title>
    <style>
        h1 {
    border: 2px #eee solid;
    color: white;
    text-align: center;
    padding: 10px;
}
form{
    margin-top: 5%;
    text-align: center;
}
body{
    background-color: gray;
}
input{
    padding : 10px 24px;
}
button{
    padding:10px 15px;
}
h3{
    color: white;
    text-align: center;
    margin-top: 10%;
    font-size: 2.0em;
}
    </style>
</head>
<body>
   <h1>You May Also Like These Books</h1>
</body>



<div class="divver">
    {% for record in records %}
    <p><h2>{{ record.original_title }}</h2>
        <ul>
            <img src="{{record.small_image_url}}" alt="">

            <li><h3>Book ID: {{ record.book_id }}</h3></li>
            <li><h3>Author(s): {{ record.authors }}</h3></li>
            <li><h3>Year Published: {{ record.original_publication_year  }}</h3></li>
            <li><h3>Number of Ratings: {{ record.ratings_count }}</h3></li>
            <li><h3>Average Rating: {{ record.average_rating }}</h3></li>
            <li><h3>International Standard Book Number (ISBN): {{ record.isbn }}</h3></li>
        </ul>
    </p>
    <hr>
    {% endfor %}
</div>

<div>
    {% if invalid %}
        <h3>{{invalid}}</h3>
    {%endif%}

</div>

</html>
